<template>
    <div>
        <button class="btn btn-success" v-on:click="showDepartmentModal({name: ''})">+ Добавить отдел</button>    
        <div class="my-4" v-for="department in departments" :key="department._id">
            <Deparment 
                :department="department"
                v-on:show-department-modal="showDepartmentModal(department)"
                v-on:show-employee-modal="showEmployeeModal"
                v-on:delete-department="deleteDepartment"
                v-on:change-department-name="updateDepartment"
                v-on:create-employee="createEmployee"
                v-on:delete-employee="deleteEmployee"
                v-on:change-employee-name="updateEmployee"
            ></Deparment>
        </div>
        <Modal 
            v-show="departmentModalOpened"
            v-on:close="closeModal"
            v-on:save="saveDepartment(departmentModal)">
            <input
                class="form-control"
                placeholder="Название отдела"
                v-model="departmentModal.name"
                v-bind:class="{ 'is-invalid': departmentModal.name === '' }"
            />
        </Modal>
        <Modal 
            v-show="employeeModalOpened"
            v-on:close="closeModal"
            v-on:save="saveEmployee(departmentModal, employeeModal)">
            <input
                class="form-control"
                placeholder="Имя сотрудника"
                v-model="employeeModal.name"
                v-bind:class="{ 'is-invalid': employeeModal.name === '' }"
            />
        </Modal>
    </div>
</template>
<script>
import axios from 'axios';
import Deparment from './department.vue';
import Modal from './modal.vue';

export default {
    name: "DepartmentList",
    components: {
        Deparment,
        Modal
    },
    data() {
        return {
            departments: [],
            departmentModalOpened: false,
            employeeModalOpened: false,
            departmentModal: {},
            employeeModal: {}
        }
    },
    created() {
        this.getDepartments();
        this.pollChanges();
    },
    methods: {
        showDepartmentModal(department) {
            this.departmentModalOpened = true;
            this.departmentModal = Object.assign({}, department);
        },

        showEmployeeModal(departmentId, employee) {
            this.employeeModalOpened = true;
            this.departmentModal = Object.assign({}, {'_id': departmentId});
            this.employeeModal = Object.assign({}, employee);
        },

        closeModal() {
            this.departmentModalOpened = false;
            this.employeeModalOpened = false;
            this.departmentModal = Object.assign({}, {});
            this.employeeModal = Object.assign({}, {});
        },

        saveDepartment(department) {
            department._id == null 
                ?   this.createDepartment(department)
                :   this.updateDepartment(department);
        },

        saveEmployee(department, employee) {
            employee.id == null 
                ?   this.createEmployee(department, employee)
                :   this.updateEmployee(department, employee);
        },

        getDepartments() {
            axios
                .get('/api/department')
                .then(res => this.departments = res.data);
        },    
        
        createDepartment(department) {
            axios
                .post(`/api/department?name=${department.name}`);    
        },

        updateDepartment(department) {
            const {_id, name} = department;
            axios
                .put(`/api/department/${_id}?name=${name}`);
        },

        deleteDepartment(id) {
            axios
                .delete(`/api/department/${id}`);
        },

        createEmployee(department, employee) {
            axios
                .post(`/api/department/${department._id}/employee?name=${employee.name}`);
        },

        deleteEmployee({id, employeeId}) {
            axios
                .delete(`/api/department/${id}/employee/${employeeId}`);
        },

        updateEmployee(department, employee) {
            const {id, name} = employee;
            axios
                .put(`/api/department/${department._id}/employee/${id}?name=${name}`);
        },

        pollChanges() {
            axios.get(`/api/department/poll?id=${new Date().getTime()}`, {
                timeout: 30000
            }).then( 
                (res) => {this.departments = res.data; this.pollChanges()},
                () => this.pollChanges()
            );
        }
    }
}
</script>

