<template>
    <div> 
        <hr/>
        <div class="w-50">
            <div class="d-flex justify-content-between align-items-center"> 
                <span class="text-uppercase">{{department.name}}</span>
                <div>
                    <button class="badge border-0" v-on:click="showDepartmentModal"><icon name="edit" /></button>
                    <button class="badge border-0 text-danger" v-on:click="del"><icon name="trash-alt" /></button>
                </div>
            </div>
            <div class="ml-4">
                <ul class="list-group my-3">
                    <li class="list-group-item border-0 px-0" v-for="employee in department.employees" :key="employee.id">
                        <Employee
                            :employee="employee"
                            v-on:show-employee-modal="showEmployeeModal(employee)"
                            v-on:delete-employee="deleteEmployee"
                            v-on:change-employee-name="changeEmployeeName"
                        ></Employee>
                    </li>
                </ul>
                <button class="btn btn-sm btn-outline-success" v-on:click="showEmployeeModal({name: ''})">+ Добавить сотрудника</button>
            </div>
        </div>
    </div>
</template>
<script>
    import Employee from "./employee.vue";

    export default {
        name: "Department",
        props: ['department'],
        components: {
            Employee
        },
        methods: {
            showDepartmentModal() {
                this.$emit('show-department-modal', this.department);
            },

            showEmployeeModal(employee) {
                this.$emit('show-employee-modal', this.department._id, employee);
            },

            del() {
                this.$emit('delete-department', this.department._id);
            },

            deleteEmployee(id) {
                this.$emit('delete-employee', {
                    id: this.department._id,
                    employeeId: id
                });
            },

            changeEmployeeName({id, name}) {
                this.$emit('change-employee-name', {
                    id: this.department._id, 
                    employeeId: id,
                    name: name
                });
            }
        }
    };
</script>