<template>
    <div class="d-flex justify-content-between align-items-center"> 
        <span>{{employee.name}}</span>
        <div>
            <button class="badge border-0" v-on:click="showEmployeeModal"><icon name="edit" /></button>
            <button class="badge border-0 text-danger" v-on:click="del(employee.id)"><icon name="trash-alt" /></button>
        </div>
    </div>
</template>
<script>
    export default {
        name: "Employees",
        props: ['employee'],
        methods: {
            showEmployeeModal() {
                this.$emit('show-employee-modal', this.employee);
            },

            del(id) {
                this.$emit('delete-employee', id);
            }
        }
    };
</script>