<template>
    <div class="modal-window show fade" v-on:keyup.enter="save">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <slot></slot>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" v-on:click="save">Сохранить</button>
                    <button type="button" class="btn btn-secondary" v-on:click="close">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Modal',
        methods: {
            close() {
                this.$emit('close');
            },

            save() {
                if(this.$el.querySelector('.form-control').value) {
                    this.$emit('save');
                    this.close();
                }
            }
        }
    }
</script>
<style>
    .modal-window {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1050;
        overflow: hidden;
        outline: 0;
    }
</style>

